@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans text-neutral-800 bg-neutral-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary;
  }
}

@layer components {
  .btn {
    @apply inline-block px-6 py-3 font-medium text-center rounded-md transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-light;
  }

  .btn-secondary {
    @apply bg-secondary text-primary hover:bg-secondary-light;
  }

  .btn-outline {
    @apply border-2 border-primary text-primary hover:bg-primary hover:text-white;
  }

  .btn-accent {
    @apply bg-accent text-white hover:bg-accent-light;
  }

  .container-custom {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }

  .section {
    @apply py-16 md:py-24;
  }

  .section-title {
    @apply font-serif text-3xl md:text-4xl lg:text-5xl font-medium mb-4 text-primary;
  }

  .section-subtitle {
    @apply text-xl md:text-2xl text-neutral-700 mb-10;
  }
}

/* Custom Slider Styles */
.slick-dots li button:before {
  @apply text-primary opacity-70;
}

.slick-dots li.slick-active button:before {
  @apply text-primary opacity-100;
}

.slick-prev:before,
.slick-next:before {
  @apply text-primary;
}

@font-face {
  font-family: "Cabrito Didone";
  src: url("/fonts/CabritoDidone-NorReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-cabrito {
  font-family: "Cabrito Didone", serif;
}
